@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,700&display=swap");

.light-theme {

    --main-popover-dropdown: hsl(0, 0%, 100%);
    --main-card: hsl(0, 0%, 100%);
    --color-main-card: #777;
    /* hover carousel de artistas */
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    /* Main theme colors */
    --first-color: #0e2431;
    --main-color-blue-light: #6eaeae;
    --second-color: #6a59d1;
    --third-color: #777;
    --white-color: #fff;
    --link-navbar-color2: #0e2431;


    /* Enlaces */
    --color-enlaces:#6eaeae;
    /* Hover colors */
    --hover-color-enlaces: rgba(62, 141, 166, 1);
    --hover-blue-dark: rgba(62, 141, 166, 1);
    /* Background colors */

    /* color antiguo--body-bg-color: #1a1525; */
    --body-bg-color: #fefefe;
    --card-bg-color: #fff;
    --modal-bg-color: #fff;
    --bg-transparent-color: rgba(0, 0, 0, 0.1);
    --transparent-color-01: rgba(0, 0, 0, 0.1);
    --transparent-color-02: rgba(106, 89, 209, 0.1);
    --line-color: #d7d7d7;

    /*  */

    --color-filter: invert(1);

    /* Box shadows */

    --box-shadow: 0px 0px 20px rgba(0 0 0 /10%);

    /* Font size */
    --small-font-size: 0.9em;
    --normal-font-size: 1em;

    /* Scroll bar colors */

    --scroll-bar-color: #c5cadf;
    --scroll-thumb-color: #70768a;
    --scroll-thumb-hover-color: #454f6b;

    /* options */
    --main-color-light: #6a59d1;
    --main-color-dark: #7c6cd9;

    --link-navbar-color: #757575;
}

:root{
    --main-popover-dropdown: rgba(110, 174, 174, 1) ;
    /* Main theme colors */
    --main-card: hsl(0 0% 100% / 0.1);
    --color-main-card: #d7d7d7;
    --first-color: #fff;
    --second-color: #6a59d1;
    --main-color-blue-light: #6eaeae;
    --third-color: #a9afc3;
    --white-color: #fff;
    --link-navbar-color2: #d7d7d7;

    --hover-blue-dark: rgba(62, 141, 166, 1);

    /* Background colors */
    --body-bg-color: #0e1b31;
    --card-bg-color: #132347;
    --modal-bg-color: #102048;
    --bg-transparent-color: rgba(255, 255, 255, 0.1);
    --transparent-color-01: rgba(225, 225, 225, 0.1);

    --line-color: #454f6b;

    /* Enlaces */
    --color-enlaces:#6eaeae;
    /* Hover colors */
    --hover-color-enlaces: #fff;

    /*  */

    --color-filter: invert(0);

    /* Scroll bar colors */

    --scroll-bar-color: #c1ceff;
    --scroll-thumb-color: #282f4e;
    --scroll-thumb-hover-color: #454f6b;

    --main-color-light: #6a59d1;
    --main-color-dark: #7c6cd9;

    --link-navbar-color: #757575;

    --link-navbar-color2: #d7d7d7;
}

* {
    font-family: "Poppins", sans-serif;
}

/* html {
    scroll-behavior: smooth;
} */

body {
    color: var(--first-color) !important;
    background: var(--body-bg-color) !important;
    /* transition: 0.5s ease; */
}

/* ============= Scroll Bar ================ */

::-webkit-scrollbar {
    width: 10px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-color);
}

/* ============= Light/Dark theme Button ================ */
.flex-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.theme-btn {
    z-index: 5;
    position: fixed;
    right: 0;
    top: 100px;
    background: var(--transparent-color-01) !important;
    backdrop-filter: blur(20px) !important;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    border-radius: 5px 0 0 5px !important;
    box-shadow: var(--box-shadow) !important;
    cursor: pointer;
}

.theme-btn .fa-sun,
.theme-btn.sun .fa-moon {
    display: none;
}

.theme-btn.sun .fa-sun {
    display: block;
}

/* ====================== Titulo ========================*/

#galeria {
    margin-top: 3em;
    padding-top: 3em;
}

.section-title-01 {
    font-weight: 800 !important;
    margin-bottom: 2rem !important;
    --webkit-background-clip: text !important;
    --webkit-text-fill-color: transparent !important;
    opacity: 0.1 !important;
    font-family: "Poppins", sans-serif;
    font-size: 4.5em;
}

.section-title-02 {
    font-weight: 700 !important;
    transform: translateY(-64px);
    position: relative !important;

    font-family: "Poppins", sans-serif;
    font-size: 2.5em;
}

.section-title-02::before {
    content: " ";
    position: absolute !important;
    bottom: 0;
    height: 5px !important;
    width: 70px !important;
    /* background-color: var(--main-color-blue-light); */
    background: rgb(143, 177, 186);
    background: linear-gradient(
        93deg,
        rgba(143, 177, 186, 1) 0%,
        rgba(110, 174, 174, 1) 45%,
        rgba(62, 141, 166, 1) 100%
    );
}

/* ------------------ Galeria ------------- */



#galeria, #wishlist-index {
    margin-bottom: 4em;
}
.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    padding: 20px;
    padding: 0 0;
    grid-gap: 1vh;
}



.gallery__item {
    position: relative
}



.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}



.edition-delete{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.edition-edit{
    position: absolute;
    top: 0; right: 0;
    z-index: 2;
}


@media (max-width: 320px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 100px;
        grid-gap: 1vh;
    }


}
@media (min-width: 385px) {
    .gallery-container  {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 120px;
        grid-gap: 2vh;
    }
}
@media (min-width: 463px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 150px;
        grid-gap: 2vh;
    }
}
@media (min-width: 600px) {
    .gallery-container {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: row dense;
        grid-gap: 2vh;
        width: 90%;
        margin: auto;
    }

    .gallery__item:nth-child(10) {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }
}
@media (min-width: 600px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: row dense;
        grid-auto-rows: 200px;

        grid-gap: 2vh;
        width: 90%;
        margin: auto;
    }

    .gallery__item:nth-child(10) {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }
}
@media (min-width: 1024px) {
    .gallery-container {
        grid-template-columns: repeat(4, 1fr);
        width: 90%;
        margin: auto;

        grid-gap: 2vh;
    }
}
@media (min-width: 1024px) {
    .gallery__item img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        /* filter: brightness(0.5) grayscale(100); */
        /* filter: brightness(0.9) grayscale(0.2); */
        transition: 0.5s ease-in-out;
    }
    .gallery__item:hover img {
        /* filter: brightness(1) grayscale(0); */
        filter: brightness(0.5) grayscale(100);
    }


    .gallery-container {
        grid-template-columns: repeat(4, 1fr);
        width: 90%;
        grid-auto-rows: 320px;
        /* grid-auto-rows: dense; */
        margin: auto;

        grid-gap: 2vh!important;

    }





    .gallery__item:first-child {
        grid-column-start: span 2!important;
        grid-row-start: span 2!important;
    }

    .gallery__item:nth-child(6n + 7) {
        grid-row-start: span 2;
        grid-column-start: span 2;
    }

}

.nav-item {
    text-decoration: none !important;
    list-style: none !important;
}

.editar-artista{
    transform: translateY(-40px);
}
/* ============================= Artista vista con galeria ===================== */

/* .artista_row{
    height: 85vh;
  } */
/* .artista_img {
    width: 80%;
    object-fit: cover;
    height: 75vh;
    border-radius: 25px;


} */
.artista_img {
    width: 100%;
    object-fit: cover;
    height: 75vh;
    border-radius: 25px;


}

.contenedor-imagen-galeria {
    position: relative;
    overflow: hidden;
}

.enlace-expand {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.5em;
    color: #c5cadf;
    padding-right: 0.2em;
    transform: translateY(100%);
    transition: transform 500ms ease;
}
.contenedor-imagen-galeria:hover .enlace-expand {
    transform: translateY(0);
}

.gallery__item {
    position: relative;
    overflow: hidden;
}

.enlace-expand {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.5em;
    color: #c5cadf;
    padding-right: 0.2em;
    transform: translateY(100%);
    transition: transform 500ms ease;
}

.enlace-expand a {
    color: white;
}
.gallery__item:hover .enlace-expand {
    transform: translateY(0);
}

.enlace-expand a:hover {
    color: white;
}
.enlace-edit {
    position: absolute;
    top: -1px;
    right: 0;
    font-size: 1.5em;
    color: #c5cadf;
    padding-right: 0.2em;
    /* translate: -10px; */
    transition: transform 500ms ease;
}
.enlace-edit a {
    color: white;
}
.enlace-edit a:hover {
    color: var(--main-color-blue-light);
}

.redes {
    font-size: 1.5em;
}
.correo-artista,
.redes a {
    color: var(--color-enlaces);
}

.redes a:hover {
    color: var(--hover-color-enlaces);
}


.popover-header{
    color: var(--first-color) !important;
   background: var( --main-popover-dropdown) !important;


}
.popover-body{
    color: var(--first-color) !important;

    backdrop-filter: blur(1rem);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:10px ;
}

.popover{
    background: hsl(0 0% 100% / 0.2) !important;
}
/* ================================  Imagen individual en show.Modal ====================== */

.one-image-galeria {
    width: 100%;
}

.titulo {
    position: relative;
}

/* ==================== Show Modal  =========================*/

.importante {
    font-weight: 500;
}

.fecha-obra {
    font-size: 0.8em;
    color: var(--color-main-card);
}
.modal {
    backdrop-filter: blur(1rem);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: var(--main-card) !important;
    backdrop-filter: blur(1rem);
    box-shadow: var(--box-shadow);
}

.heart{
    z-index: 1!important;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
}


.gallery__item:hover .heart{

    transform: translateY(0);
}

.heart-favorito{
color: rgb(154, 150, 150, 0.8)!important;
font-size: 1.5em;
}
.heart-favorito:hover{
    color: rgba(255, 253, 253, 0.8)!important;

    }
.small{
    font-size:0.7em!important;
}

#murales-favoritos .card {
    background: var(--main-card) !important;
    backdrop-filter: blur(1rem);
    box-shadow: 0 5px 10px -5px rgba(0 0 0 / 30%);
    border-bottom: 4px solid var(--main-color-blue-light);
    border-radius: 6px;
    transition: 0.5s ease;
}
#mapa a, .mural-enlace {
    color: var(--main-color-blue-light)!important;
}

#mapa a:hover, .mural-enlace:hover {
    color: rgba(62, 141, 166, 1)!important;
}
